#intro to pytoh

##Print command

In [ ]:
print ("Hilda")
print (23)

Hilda
23

##sequence

In [ ]:
# command + / ini adalah command untuk komentar
# sequence adalah step running program dari atas ke bawah
x =0
print (x)
print ("/")
print ("//")
print ("///")
print ("////")

0
/
//
///
////

## Variable dan Tipe Data

In [ ]:
#Boolean
laki = False
perempuan = True

print (perempuan)
print (laki)

True
False

In [ ]:
#String
nama = "Hilda"
jabatan = "siswa"

print(nama, "memiliki jabatan sebagai", jabatan)
print (nama + " memiliki jabatan sebagai " + jabatan)

Hilda memiliki jabatan sebagai siswa
Hilda memiliki jabatan sebagai siswa

In [ ]:
#Integer
umur = 24
tahun_kelahiran = 2000
tahun_sekarang = 2024

print(umur)
print(tahun_sekarang-tahun_kelahiran)

24
24

In [ ]:
#Float
ipk = 3.45 #Ada koma/desimal

print("ipk anda adalah", ipk)

ipk anda adalah 3.45

In [ ]:
#Print Type
print(type(laki))
print(type(nama))
print(type(umur))
print(type(ipk))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

#Module

In [ ]:
#Simple module file
with open('mymodule.py', 'w') as f:
  f.write("""
def greet(name):
    return f"Hello, {name}!"
    """)

In [ ]:
import mymodule

# Use the fuction from the module
print(mymodule.greet("Hilda"))

Hello, Hilda!

#Package

In [ ]:
import os
# Create the package directory / folder
os.makedirs('mypackage', exist_ok=True)

# Create module1.py
with open ('mypackage/module1.py', 'w') as f:
  f.write("""
def add(a,b):
    return a + b
    """)

  # Create module2.py
  with open ('mypackage/module2.py', 'w') as f:
    f.write("""
def substract(a, b):
      return a - b
      """)

    # Create an empty__init__.py file to mark the directory as a pacakage
    with open ('mypackage/__init__.py', 'w') as f:
      f.write("")

In [ ]:
from mypackage import module1, module2

# Use the function from the package modules
print(module1.add(5, 3))
print(module2.substract(5, 3))

8
2

##Library

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

#Arithmetic Operation / Operasi Matematika

In [ ]:
a = 5
b = 10

print(a+b) #Tambah
print(a-b) #Kurang
print(a*b) #Kali
print(a/b) #Bagi
print(a//b) #Bagi bulat
print(a%b) #Modulo / Sisa Bagi
print (a**b) #Pangkat
print(pow(a,b)) #Fungsi untuk pangkat

15
-5
50
0.5
0
5
9765625
9765625

##Logical Operator

In [ ]:
x= 5
y = 12

print(x > 3 and y < 10) # And,mengharuskan kedua statement betul, untuk hasil akhir betul
print(x > 3 or y < 10) # Or, salah satu statement betul maka, hasil akhir akan betul
print(not(x > 3 and y < 10)) #Not maka kebalikan dari hasil akhir

False
True
True

#Conditional

In [ ]:
a = 15 #Assign Nilai

if(a == 5): #Komparasi
  print("A adalah 5") #indent
else:
  print("A bukan 5")

A bukan 5

In [ ]:
a = 1200
b = 33
c = 200

if(a > b or a > c) and a > 1000:
  print("A adalah yang terbesar")
elif(a > b or a > c) and a<= 1000:
  print("Salah satu kondisi adalah benar")
else:
  print("Kondisi salah semua")

A adalah yang terbesar

In [ ]:
a = 1000
b = 33
c = 200

if(a > b or a > c) and a > 1000:
  print("A adalah yang terbesar")
elif(a > b or a > c) and a<= 1000:
  print("Salah satu kondisi adalah benar")
else:
  print("Kondisi salah semua")

Salah satu kondisi adalah benar

In [ ]:
a = 9
b = 33
c = 200

if(a > b or a > c) and a > 1000:
  print("A adalah yang terbesar")
elif(a > b or a > c) and a<= 1000:
  print("Salah satu kondisi adalah benar")
else:
  print("Kondisi salah semua")

Kondisi salah semua

##Struktur Data di Python

###list

In [ ]:
buah = ["Pisang","Apel", "Semangka"]
sayur = ["Bayam","Kangkung","Tomat"]

In [ ]:
#Memanggil buah Apel
print(buah[1])

Apel

In [ ]:
#Ganti Semangka menjadi Melon
buah[2] = "Melon"
print(buah)

['Pisang', 'Apel', 'Melon']

###Tupel

In [ ]:
buah = ("Pisang","Apel", "Semangka")
sayur = ("Bayam","Kangkung","Tomat")

In [ ]:
#Memanggil Apel
print(buah[1])

Apel

###SET

In [ ]:
dd("Jeruk)")

In [ ]:
buah = {"Pisang","Apel", "Semangka"}
buah.add("Kiwi")
buah.add("Jeruk")
print(buah)

{'Semangka', 'Pisang', 'Jeruk', 'Kiwi', 'Apel'}

###Dictionary

In [ ]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

In [ ]:
#Memanggil Nilai dalam dictionary
print(car["brand"])

Ford

In [ ]:
#Ganti nilai dalam dictionary
car["model"] = "Sedan"
print(car)

{'brand': 'Ford', 'model': 'Sedan', 'year': 1964}